<div class="contact-container">
  <div class="bio-top">
    <div class="bio-left"></div>
    <div class="bio-right"></div>
  </div>
  <div class="contact-bottom">
    <span class="contact-slogan">I'd love to be a part of your story!</span>
    <form class="contact-form">
      <input type="text" class="form-input">
      <input type="number" class="form-input">
      <button class="form-submit">Send</button>
    </form>
  </div>
</div>
