<div class="grid">
  <a href="/#portfolio/weddings"><div class="portfolio-box">
      <div class="grid-item-overlay weddings-overlay"></div>
      <div class="weddings"></div>
      <span class="wedding-text"><i class="fa fa-black-tie portfolio-category"></i> Weddings</span>
  </div></a>
  <a href="/#portfolio/events"><div class="portfolio-box events">
    <div class="grid-item-overlay events-overlay"></div>
    <span class="events-text"><i class="fa fa-calendar portfolio-category"></i> Events</span>
  </div></a>
  <a href="/#portfolio/people"><div class="portfolio-box people">
    <div class="grid-item-overlay people-overlay"></div>
    <span class="people-text"><i class="fa fa-male portfolio-category"></i> People</span>
  </div></a>
  <a href="/#portfolio/inspiration"><div class="portfolio-box inspiration">
    <div class="grid-item-overlay inspiration-overlay"></div>
    <span class="inspiration-text"><i class="fa fa-camera portfolio-category"></i> Inspiration</span>
  </div></a>
</div>
