@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: 'Josefin Sans', sans-serif;;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$white: rgba(240, 240, 240, 1);

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  @include outer-container(1500px);
  height: 100vh;
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  margin: 0;
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
  max-width: 100%;
}

.header-logo {
  @include span-columns(12);
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.nav {
  @include span-columns(12);
  height: auto;
  position: fixed;
  top: 0;
  z-index: 9;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  transition: 2s;
  background-color: rgba(240, 240, 240, 1);
}

.collapsed {
  background-color: $white;
  opacity: 1;
  height: 50px;
  line-height: 35px;
}

.side-nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 0;
  height: auto;
  padding: 10px;
  background-color: $white;
  transition: 1s;
  z-index: -5;
  opacity: 0;
  font-size: 20px;
}

.side-nav-active {
  @include span-columns(12);
  display: block;
  transition: 1s;
  z-index: 9;
  opacity: 1;
}

.nav-slider {
  margin-bottom: 10px;
}

.menu-bar {
  font-size: 30px;
  color: rgba(40, 40, 40, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
}

.nav-title {
  @include span-columns(1.3);
  @include shift(1.3);
  text-align: center;
}

.nav-hidden {
  display: none;
  transition: 2s;
}

.menu-active {
  opacity: 1;
  transition: 1s;
}

.grid {
  padding-left: 10px;
}

.grid-item {
  margin-top: 5px;
}

.landscape {
  width: 300px;
  height: 200px;
}

.portrait {
  width: 400px;
  height: 300px;
}

.page {
  @include span-columns(12);
}

.nav-active {
  border-bottom: 3px solid black;
}

.modal {
  position: fixed;
  height: 400px;
  width: 600px;
  background-color: rgba(250, 250, 250, 1);
  top: 5%;
  left: 20%;
  z-index: 11;
}

.underlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #101112;
  z-index: 10;
  transition: 3s;
}

.modal-disabled {
  display: none;
  transition: 2s;
}

.modal-box {
  @include span-columns(12);
  height: 90vh;
}

.modal-picture {
  width: 100%;
  height: auto;
}

.close-modal {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 40px;
  color: $white;
  cursor: pointer;
  z-index: 3;
}

.portfolio-box {
  @include span-columns(6);
  @include omega();
  position: relative;
  margin-left: 5px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
}

.portfolio-box:hover .weddings {
  opacity: 1;
  transition: 2s;
}

.weddings-overlay {
  width: 0;
  height: 0;
  border-bottom: 400px solid rgba(30, 30, 30, 1);
  border-left: 400px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.events-overlay {
  width: 0;
  height: 0;
  border-bottom: 400px solid rgba(30, 30, 30, 1);
  border-right: 400px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.people-overlay {
  width: 0;
  height: 0;
  border-top: 400px solid rgba(30, 30, 30, 1);
  border-left: 400px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.inspiration-overlay {
  width: 0;
  height: 0;
  border-top: 400px solid rgba(30, 30, 30, 1);
  border-right: 400px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.wedding-text {
  font-size: 30px;
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: $white;
}

.events-text {
  font-size: 30px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: $white;
}

.people-text {
  font-size: 30px;
  position: absolute;
  top: 10%;
  right: 10%;
  color: $white;
}

.inspiration-text {
  font-size: 30px;
  position: absolute;
  top: 10%;
  left: 10%;
  color: $white;
}

// .portfolio-box:hover {
//   width: 401px;
//   height: 301px;
//   transition: 0.5s;
//   box-shadow: 0 0 7px 3px rgba(0, 0, 0, .2);
// }

.weddings {
  @include span-columns(12);
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1427477321886-abc24e8ce923?q=80&fm=jpg&s=08d0215b9854ed7438243faade78bb35");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

.events {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url("https://images.unsplash.com/photo-1417716226287-2f8cd2e80274?q=80&fm=jpg&s=358ca6659a75ac982cbbdfd1efac3634");
}

.people {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url("https://images.unsplash.com/photo-1441886367417-1c946b32a980?q=80&fm=jpg&s=92c4437f580ca32a762c10beb18cbb02");
}

.inspiration {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url("https://images.unsplash.com/photo-1441802763029-b621005a04a5?q=80&fm=jpg&s=f312571ea82c8dfbabc6ee71b2d2d571");
}

div.weddings-overlay:hover ~ div.weddings {
  opacity: 1;
  transition: 2s;
}

// .weddings:hover {
//   opacity: 1;
//   transition: 2s;
// }

.portfolio-hero {
  @include span-columns(12);
  min-height: 600px;
  position: fixed;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.wedding-hero {
  background-image: url("https://images.unsplash.com/photo-1430713976611-6c0b558c239e?q=80&fm=jpg&s=fef168e04154defd53432486a9f2ff39");
  background-position: center;
}

.events-hero {
  background-image: url("https://images.unsplash.com/46/unsplash_52c319226cefb_1.JPG?q=80&fm=jpg&s=b07cdc1f522e977fda8cc7ee63848f4d");
  background-position: center;
}

.people-hero {
  background-image: url("https://images.unsplash.com/reserve/fPuLkQNXRUKI6HQ2cMPf_IMG_4761.jpg?q=80&fm=jpg&s=cd26d7d6a097e9f77e13b1d18836409e");
  background-position: center;
}

.inspiration-hero {
  background-image: url("https://images.unsplash.com/photo-1422284763110-6d0edd657b13?q=80&fm=jpg&s=8c5721f5e952f910b0633f85f8a92450");
  background-position: center;
}

.portfolio-content {
  @include span-columns(12);
  height: 800px;
  background-color: $white;
  position: relative;
  top: 500px;
  z-index: 3;
}

.wedding-grid {
  width: 400px;
  height: 300px;
}
