@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  @include outer-container(1500px);
  height: 100vh;
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  margin: 0;
  list-style: none;
}

a {
    text-decoration: none;
}

.header-logo {
  @include span-columns(6);
  font-size: 25px;
}

.nav {
  @include span-columns(12);
  height: 70px;
  border: 1px solid red;
  margin: 0;
  line-height: 70px;
}

.nav-title {
  @include span-columns(1.3);
}

.grid {
  padding-left: 10px;
}

.grid-item {
  border: 1px solid black;
  margin-top: 10px;
}

.landscape {
  width: 400px;
  height: 300px;
}

.portrait {
  width: 400px;
  height: 300px;
}

.page {
  @include span-columns(12);
}

.nav-active {
  font-weight: bold;
}
